h1,main{
text-align: center;
}
body{
background-color:rgb(114, 107, 101)
}
    table, th, td {
        border: 3px solid;
        color:rgb(23, 23, 116)
      }
      
     li{
         list-style-type:disc
     }


    


